---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=99&currency=usd&description=Sign+up+change+for+lee%40examle.com&source=tok_189omFEDK3tRuRHO2qokGr5w
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_189omMEDK3tRuRHO5kX4X9UO",
          "object": "charge",
          "amount": 99,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_189omMEDK3tRuRHOyi3TTFd2",
          "captured": true,
          "created": 1462940218,
          "currency": "usd",
          "customer": null,
          "description": "Sign up change for lee@examle.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_189omMEDK3tRuRHO5kX4X9UO/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_189omFEDK3tRuRHO3MxuHeia",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "njjpAQzzTJCl3yl9",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 11 May 2016 04:16:59 GMT
recorded_with: VCR 3.0.1
