---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Sign+up+change+for+lee%40examle.com&email=lee%40examle.com&plan=gold&source=tok_18AWXaEDK3tRuRHO7AOvCIwB
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8RPMgowFrCYWHd",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1463108440,
          "currency": "usd",
          "default_source": "card_18AWXaEDK3tRuRHODpcbU5YL",
          "delinquent": false,
          "description": "Sign up change for lee@examle.com",
          "discount": null,
          "email": "lee@examle.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18AWXaEDK3tRuRHODpcbU5YL",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8RPMgowFrCYWHd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "njjpAQzzTJCl3yl9",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8RPMgowFrCYWHd/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8RPMKQ78iZiCpp",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1463108440,
                "current_period_end": 1465786840,
                "current_period_start": 1463108440,
                "customer": "cus_8RPMgowFrCYWHd",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "gold",
                  "object": "plan",
                  "amount": 999,
                  "created": 1463095286,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "golden plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1463108440,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8RPMgowFrCYWHd/subscriptions"
          }
        }
  recorded_at: Fri, 13 May 2016 03:00:41 GMT
recorded_with: VCR 3.0.1
