!!! 5
%html(lang="en-US")
  %body
    %p
      Hi, #{@user.full_name}, you can click
      =link_to "reset password link", "http://localhost:3000/password_reset/#{@user.reset_token}"
      to reset your password.
