---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=9&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18Aa6cEDK3tRuRHO0FnPeJtu",
          "object": "token",
          "card": {
            "id": "card_18Aa6bEDK3tRuRHOMM26h0Fh",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2017,
            "fingerprint": "njjpAQzzTJCl3yl9",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "113.240.250.164",
          "created": 1463122142,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 13 May 2016 06:49:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=a+vaild+charge&email=test%40example.com&plan=gold&source=tok_18Aa6cEDK3tRuRHO0FnPeJtu
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8RT2Pd3RQU7PSb",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1463122143,
          "currency": "usd",
          "default_source": "card_18Aa6bEDK3tRuRHOMM26h0Fh",
          "delinquent": false,
          "description": "a vaild charge",
          "discount": null,
          "email": "test@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18Aa6bEDK3tRuRHOMM26h0Fh",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8RT2Pd3RQU7PSb",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2017,
                "fingerprint": "njjpAQzzTJCl3yl9",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8RT2Pd3RQU7PSb/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8RT2LSNCP3VGP6",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1463122143,
                "current_period_end": 1465800543,
                "current_period_start": 1463122143,
                "customer": "cus_8RT2Pd3RQU7PSb",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "gold",
                  "object": "plan",
                  "amount": 999,
                  "created": 1463095286,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "golden plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1463122143,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8RT2Pd3RQU7PSb/subscriptions"
          }
        }
  recorded_at: Fri, 13 May 2016 06:49:04 GMT
recorded_with: VCR 3.0.1
