---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=9&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18Aa6nEDK3tRuRHOl0jfA7E2",
          "object": "token",
          "card": {
            "id": "card_18Aa6nEDK3tRuRHO1xfTtulj",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2017,
            "fingerprint": "uMcA7FiK0lDTOQny",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "113.240.250.164",
          "created": 1463122153,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 13 May 2016 06:49:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=rspec&email=test%40example.com&plan=gold&source=tok_18Aa6nEDK3tRuRHOl0jfA7E2
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 13 May 2016 06:49:15 GMT
recorded_with: VCR 3.0.1
