---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=9&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_185XBUEDK3tRuRHOTIOODjFb",
          "object": "token",
          "card": {
            "id": "card_185XBUEDK3tRuRHOu4MScvj3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2017,
            "fingerprint": "njjpAQzzTJCl3yl9",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "113.240.250.164",
          "created": 1461919272,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 29 Apr 2016 08:41:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=888&currency=usd&description=rspec&source=tok_185XBUEDK3tRuRHOTIOODjFb
    headers:
      Authorization:
      - Bearer sk_test_WUKQ7JUEbLmTGWJFokmJtmgT
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_185XBgEDK3tRuRHOJWeSLa9Y",
          "object": "charge",
          "amount": 888,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_185XBgEDK3tRuRHOEduQeXQk",
          "captured": true,
          "created": 1461919284,
          "currency": "usd",
          "customer": null,
          "description": "rspec",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_185XBgEDK3tRuRHOJWeSLa9Y/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_185XBUEDK3tRuRHOu4MScvj3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2017,
            "fingerprint": "njjpAQzzTJCl3yl9",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 29 Apr 2016 08:41:25 GMT
recorded_with: VCR 3.0.1
